
    <!-- <h4>Home Products {{product.name}}</h4>
    <img *ngIf="showImg" src="{{product.imgURL}}">
    <div *ngIf="!showImg" class="alert alert-success" role="alert">
        Thanks for purchasing from our Store
      </div>
    <button class="btn btn-primary" (click)="toggleImg()">Buy</button>
    <br> -->
    <!-- end task day1 -->

    <!-- one way binding -->
    <!-- <label for="">Enter Your feedback:</label>
    <input type="text" class="form-control" name="userFeedback" id="userFeedback" 
    [value]="userFeedback">
    <h1>{{userFeedback}}</h1> -->

    <!-- two way binding  -->
    <!-- <label for="">Enter Your feedback:</label>
    <input type="text" class="form-control" name="userFeedback" id="userFeedback" 
    [(ngModel)]="userFeedback">
    <h1>{{userFeedback}}</h1> -->

      <!-- <div class="mb-3">
    <label for="cat">Select Category</label>
    <select name="cat" id="cat" class="form-control" [(ngModel)]="selectedCatID">
      <option *ngFor="let cat of catList" [value]="cat.id">{{cat.name}}</option>
    </select>
  </div>
  <p>{{selectedCatID}}</p> -->


    <!-- date pipe  -->
    <div>
      My date is {{myDate|date:'shortTime'}}
    </div>

    <table class="table mt-2">
        <thead>
            <tr class="bg-dark text-light">
              <th scope="col">no.</th>
              <th scope="col">Name</th>
              <th scope="col">Image</th>
              <th scope="col">Quantity</th>
              <th scope="col">price</th>
              <th scope="col">buy</th>
            </tr>
          </thead>
          <tbody>
          <ng-container  *ngFor="let prd of prdlist ;let i=index trackBy: trackByItems" >
          <!-- <tr *ngIf="prd.quantity>0" [class.text-danger]="prd.quantity==0" [style.background-color]="(prd.quantity==0)?'#ff04042e':'#049b0457'" [ngClass]="{'bg-warning':prd.quantity==0}"> -->
            <tr *ngIf="prd.quantity>=0" [class.text-danger]="prd.quantity==0"
                 [style.background-color] ="(prd.quantity==0)?'#FFFCF7':'#E8FFFD'">
            <td>{{i+1}}</td>
            <td>{{prd.name |uppercase}}</td>
            <td ><img [src]="prd.imgURL" BorderStyle hoverColor="#0004" style="height: 100px;"></td>
            <!-- <td>{{prd.quantity}}</td> -->
            <td>
                <!-- <span *ngIf="prd.quantity>0;else outOfStock">{{prd.quantity}}</span>
                <ng-template #outOfStock >Out of stock</ng-template> -->
                <ng-container [ngSwitch]="prd.quantity">
                    <ng-container *ngSwitchCase="0">Out of stock</ng-container>
                    <ng-container *ngSwitchCase="1">Last item</ng-container>
                    <ng-container *ngSwitchCase="2">Last two item</ng-container>
                    <ng-container *ngSwitchDefault>{{prd.quantity}}</ng-container>
                </ng-container>
            </td>
            <td>{{prd.price | USDtoEGP }}</td>
            <td><button class="btn btn-success" [disabled]="prd.quantity==0" (click)='prd.quantity - 1'>Buy</button></td>
          </tr>
        </ng-container>
        </tbody>
    </table>

